APP_NAME=CivicCrowd
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8080

BACKEND_URL=http://backend-nginx:80

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=true

CACHE_STORE=file

LOG_CHANNEL=stderr
LOG_LEVEL=debug
